<tr class="roles_block">
	<td class="quarter"><p>{role_name}</p></td>
	<td class="quarter"><p>{division_name}</p></td>
	<td class="quarter"><p>{team_name}</p></td>
	<td class="quarter"><p>{role_input}{div_input}{team_input}<a href="#delete_role" class="button" data-item-id={role_to_user_id} class="delete">Del Role</a></p></td>
</tr>