<div class="column sidebar left">
	<div class="content">
		<div class="division"></div>
		<hr/>
		<label for="division_select">Select Your Division:</label>
		<select class="division_guest_dd" id="division_list_schedule"></select>
		<div id="datepickerevent"></div>
	</div>
</div>