<ul class="menu">
	<li><a href="{{ path('ljms_general_homepage') }}">Home</a></li>
	<li><a href="{{ path('ljms_general_about') }}">About</a></li>
	<li><a class="inactiv_link">Sponsors</a></li>
	<li><a class="inactiv_link">Contact</a></li>
</ul>