{% extends 'LjmsFrontendBundle:include:basetemplate.html.twig' %}
{% block title %}LJMS{% endblock %}
{% block leftsidebar%}
{% include 'LjmsFrontendBundle:include:leftsidebar.html.twig' %}
{% endblock %}
{% block centre%}
<div id="base" class="column">
	<div class="content">
	<h4>About Us</h4>

		<p>Lockport Junior Miss Softball (LJMS) was created in 1972 and has become one of the strongest, fastest growing softball organizations in the Chicago land area.</p>
		<p>LJMS is a structured organization offering balanced age divisions for girls 5 to 18 years of age.</p>
		<p>Unlike other organizations, LJMS is a not for profit sole entity, which means all&nbsp;monies are redirected back into the LJMS organization. All participants&nbsp; receive a complete uniform along with many opportunities to participate in league activities.</p>
		<p>LJMS believes in a strong family involvement and encourages fun and fundamentals.<br>Safe play and a safe environment are also focus points of LJMS. All Coach/Managers attend instructional clinics to assist them with their teachings. Each team is staffed with at least one female leader.</p>
		<p>All LJMS adult participants (Coaches, Managers, Umpires, and Executive Board Members) <br>are screened through a criminal history check to ensure the safest atmosphere&nbsp;for the girls.<br>LJMS is also proud to provide a higher level of competition with the creation of a full time travel team.</p>
		<p>The "Lockport Pride" is currently offered at the 10U,11U,12U and 13U&nbsp;levels.<br><br>LJMS encourages you to be part of this historic organization and help build the future <br>of girls softball.</p>


	</div>
</div>
{% endblock %}
{% block rightsidebar%}
{% include 'LjmsFrontendBundle:include:rightsidebar.html.twig' %}
{% endblock %}