{% extends 'LjmsGeneralBundle:Include:basetemplate.html.twig' %}
{% block title %}LJMS{% endblock %}

{% block centre%}
<div class="column full_width">
	<div class="content">
	{% include 'LjmsGeneralBundle:Admin/Include:admin_menu.html.twig' %}
	<div class="admin_menu_info">
		<h2>Divisions</h2>
	</div>

		
	</div>
</div>
{% endblock %}

